/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//  @import "../node_modules/bootstrap/scss/bootstrap";

 html, body, div {
    padding: 0;
    margin: 0;
    // font-family: sans-serif;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
  }

  h1 {
    z-index: -1;
    color: white;
  }

body {
  background-color: black;
}

.error {
    color: darkred;
 }
 
.home-img-frame {
  position: absolute;
  width: 100%;
  height: 275px;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-size: 100% 100%;
  object-fit: fill;
}
 
// .home-img {
//   width: 100%;
//   height: 80%;
// }

 
.home {
  min-height: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}

// .fumblr-home-title {
//   position: absolute;
//   width: 100px;
//   top: 0px;
//   height: 100%;
//   color: #fca311;
//   z-index: 1;
//   text-shadow: 1px 1px 15px black;
//   text-align: center;
//   width: 100%;
//   }


// .logo {
//   width: 50px;
//   height: 50px;
//   z-index: 1;
//   margin: 20px;
//   border-radius: 10px;
// }

.github-pic, .linkedIn-pic {
  position: relative;
  width: 50px;
  height: 50px;
  // left: -400%;
  z-index: 1;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  border: 3px solid #fca311;
  cursor: pointer;
}
 
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 40px;
  background: black;
  align-items: center;
  border-bottom: 1px solid gray;
      
  div {
      h2 {
        color: #fca311;
      }
    }

}

  .home-btn, .profile-btn, .logout-btn, .login-btn, .signup-btn { 
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50% 50%;
    height: 50px;
    width: 50px;
    border: none;
    background-color: black;
    font-weight: bold;
    cursor: pointer;
  }

  .login-btn, .signup-btn {
    width: 100px;
    height: 40px;
  }

  .login-btn {
    background-color: green;
    // left: 50px;
  }

  .signup-btn {
    margin-left: 30px;
    margin-right: 15px;
    background-color: cornflowerblue;
  }
  
  .home-btn-img, .profile-btn-img {
    height: 40px;
    width: 40px;
    position: relative;
    margin-right: 10px;
  }

  .home-btn {
    position: relative;
    left: -20px;
    top: -3px;
  }

  .profile-btn {
    position: relative;
    left: -10px;
    top: -3px;
  }

 
  .logout-btn {
    background-image: url("https://fumblr11-seeds.s3.amazonaws.com/logout_icon.png");
    position: relative;
    left: -7px;
  }


  


.user-show-nav-bar {
  display: flexbox;
  position: absolute;
  justify-content: right;
  padding: 20px;
  right: 10px;
  vertical-align: middle;
  background: black;
  align-items: center;
  float: right;
  z-index: 25;

  .btn {
    display: block;
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
    width: 345px;
    text-decoration: none;
  }

  .selected {
    display: block;
    color: #fca311;
    text-align: center;
    background-color: #14213d;
    padding: 10px;
    width: 345px;
    text-decoration: none;
    border-radius: 5px;
  }

  .btn:hover {
    background-color: #14213d;
    cursor: pointer;
  }

  .btn:focus {
    border: 0.5px solid #fca311;
    border-radius: 5px;
  }
}

.create-post-frame {
  display: flex;
  position: relative;
  padding: 20px;
  margin: auto;
  width: 540px;
  top: 20px;
  border-radius: 10px;
  background-color: #14213d;
  align-items: center;

}

.create-btn {
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  background-image: url("https://fumblr11-seeds.s3.amazonaws.com/text_icon.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #14213d;
  border: none;
  position: relative;
  left: 30px;
  top: 10px;
    
}

.create-span {
  color: white;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  width: 100px;
  top: -10px;
  text-align: left;
  overflow: auto;
  position: relative;
  
}

.create-btn:hover {
  cursor: pointer;
}

.create-post-center {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.session-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
  
  form {
    height: 700px;
    width: 600px;
    background-color: #14213d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  h2 {
    color: #fca311;
  }

  label {
    padding: 10px;
    display: block;
    color: #fca311;
    position: relative;
  }

  button {
    display: block;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
  }
}

.username-label , .password-label, .email-label{
  // left: -30px;
  top: -45px;
  font-size: 24px;
}


.input {
  position: relative;
  top: -5px;
  padding: 10px 15px;
  border-radius: 20px;
  border-color: #fca311;
  width: 250px;
}




.create-post {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;

  form {
   height: 700px;
   width: 600px;
   color: #fca311;
   border-radius: 10px;
   background-color: #14213d;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   h2 {
    position: relative;
    font-size: 48px;
    top: -30px;
   }

   textarea {
     margin-top: 40px;
   }
}

label {
  padding: 10px;
  display: block;
}
button {
  display: block;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-title {
  position: relative;
  font-size: 48px;
  top: -70px;
}

.modal-button {
  border-radius: 20px;
  width: 150px;
  border-color: #fca311;;
}

#edit-profile-image {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}





.posts-index-item {
  background-color: #14213d;
  margin: auto;
  max-width: 540px;
  position: relative;
  margin-bottom: 30px;
  border-radius: 10px;

  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left: 20px;
    width: 500px;
    z-index: 1;
  }
  
  hr {
    width: 510px;
    position: relative;
    border-top: 1px solid #14213d;
    opacity: 0.3;
  }
}

.posts-index-item::marker, .following-index-item::marker {
    display: none;
    color: transparent;
}



.p-i-header, .following-header{

  display: flex;
  align-items: center;
  border-radius: 3px 3px 0 0;
  width: 100%;

  span {
    color: #fca311;
    right: 35px;
    position: relative;
    vertical-align: center;
    top: -25px;
    }


}

.profile-nav-div {
  align-items: center;
  position: relative;
}

.profile-pic-frame {
  position: relative;
  left: 50px;
}

.nav-profile-pic {
  height: 100px;
  width: 100px;
  left: 50px;
  margin-top: 20px;
  position: relative;
  border-radius: 10px;
  border: 3px solid #fca311;
}

.post-profile-pic, .following-profile-pic {
  height: 50px;
  width: 50px;
  top: -18px;
  left: -70px;
  position: relative;
  border-radius: 10px;
  border: 3px solid #fca311;
}

.create-profile-pic {
  height: 50px;
  width: 50px;
  top: -20px;
  left: -90px;
  position: relative;
  border-radius: 10px;
  border: 3px solid #fca311;
}

.p-i-title-div {
  h1 {
  color: #e5e5e5;
  position: relative;
  left: 20px;
  top: -35px;
  width: 510px;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.3077;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;

}
 
}

.p-i-body-div {
  
  p {
    color: white;
    position: relative;
    left: 20px;
    top: -35px;
    width: 510px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    position: relative;
    
  }

  
}


.edit-delete-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.like-comment-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  position: relative;
  top: 5px;
}

.note-div {
  color: #fca311;
  position: absolute;
  right: 465px;
  text-align: center;
  white-space: pre-wrap;
  word-wrap: break-word;
}



.edit-post, .delete-post, .like-post, .comment-post {
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%;
  height: 50px;
  width: 50px;
  border: none;
  background-color: #14213d;
  cursor: pointer;
}



.edit-post {
  margin-left: 10px;
  margin-right: 20px;
  background-image: url("https://fumblr11-seeds.s3.amazonaws.com/edit_icon.png");
}

.delete-post {
  background-image: url("https://fumblr11-seeds.s3.amazonaws.com/delete_icon.png");
}

.like-post {
  position: relative;
  top: -10px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.comment-post {
  position: relative;
  top: -10px;
  margin-bottom: 20px;
  background-image: url("https://fumblr11-seeds.s3.amazonaws.com/comment_icon.png");
}



.user-show {

  display: block;
  
}

.page, .follow-page {
  color: #fca311;
  position: relative;
  margin: auto;
  left: 165px;
  top: 10px;
  width: 500px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.edit-profile-frame {
  position: relative;
  margin-top: 10px;
  max-width: fit-content;
  margin: auto;

  h1 {
    color: #fca311;
    position: relative;
    width: 600px;
    left: 50px;
  }


  .edit-profile-divider {
    border-bottom: 1px solid gray;
    position: relative;
    top: 20px;
    left: 20px;
    width: 600px;
    margin-bottom: 40px;
  }

  .edit-profile-preview-frame, .edit-cover-preview-frame {
    position: relative;
    left: 175px;
    margin-bottom: 25px;
    max-width: fit-content;
  }

  .edit-profile-input, .edit-cover-input {
    position: relative;
    left: 230px;
    top: 10px;
    margin-bottom: 25px;

  }

  .edit-profile-submit {
    position: relative;
    right: 25px;
    bottom: 710px;
    z-index: 10;
    border-radius: 20px;
    // width: 150px;
    border-color: #fca311;;
  }
  
}

.comments {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}


.create-comment {
  position: relative;
  top: 35px;
  left: 30px;
  width: 350px;
  height: 50px;
  margin-bottom: 30px;
  padding: 10px 15px;
  border-radius: 20px;
  border-color: #fca311;
  // z-index: 5;
}

.create-comment-btn {
  position: relative;
  top: -30px;
  left: 37px;
  border-radius: 20px;
  border-color: #fca311;
  z-index: 15;
  cursor: pointer;
}

.delete-comment-btn {
    height: 30px;
    width: 40px;
    position: absolute;
    left: 355px;
    top: 20px;
    background-color: #14213d;
    background-image: url("https://fumblr11-seeds.s3.amazonaws.com/delete_icon.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 50%;
    border: none;
    z-index: 5;
    border-radius: 10px;
    cursor: pointer;
}

.comment-errors {
 position: relative;
 height: 20px;
 left: 150px;
}


.comment-item {
  position: relative;
  margin-bottom: 20px;
}

.main-comment-div {
  max-width: 400px;
  position: relative;
  left: 80px;
  top: -53px;
  border: 1px solid gray;
  border-radius: 25px;
  color: white;
     text-align: left;
     white-space: pre-wrap;
     word-wrap: break-word;
     position: relative;
}

.comment-header {
  position: relative;
  margin-top: 5px;
  display: flex;
  justify-content: left;

  h3 {
    position: relative;
    left: 20px;
    margin-right: 10px;
    color: #fca311;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 20px;
  }

}



.comment-profile-pic, .current-user-comment-pic {
  height: 50px;
  width: 50px;
  position: relative;
  left: 20px;
  border-radius: 10px;
  border: 3px solid #fca311;
}

.current-user-comment-pic {
  top: -15px;
}

.comment-body-div {
  margin-top: 20px;
  position: relative;
  top: -20px;
  left: 20px;

  p {
    width: 350px;
     color: white;
     text-align: left;
     white-space: pre-wrap;
     word-wrap: break-word;
     position: relative;
  }

 
}

.follow-btn , .unfollow-btn , .comment-follow-btn{
  height: 30px;
  width: 60px;
  position: absolute;
  z-index: 5;
  background-color: #14213d;
  border: none;
  color: cornflowerblue;
  cursor: pointer
}

.follow-btn {
  top: 10px;
  left: 465px;
}

.comment-follow-btn {
  top: 20px;
  left: 340px;
}



.unfollow-btn {
  top: 10px;
  left: 450px; 
}



.following-index {
 display: block;
  
    h1.page {
      color: white;
      position: relative;
      left: 650px;
      margin: auto;
      top: 10px;
      width: 500px;
  }

}

.following-index-item {
  background-color: #14213d;
  margin: auto;
  height: 75px;
  max-width: 540px;
  position: relative;
  margin-bottom: 30px;
  border-radius: 10px;
}
